<nz-layout class="layout">
  <nz-header>
    <input
      nz-input
      placeholder="Поиск фото "
      [(ngModel)]="searchQuery"
      (input)="handleInput(searchQuery)"
    />
  </nz-header>
  <nz-content class="content">
    <div *ngIf="photos && !isLoading">
      <div *ngIf="photos">
        <div class="wrapper">
          <div *ngFor="let photo of photos.data">
            <div class="card">
              <img [src]="photo.urls.thumb" alt="image" class="cardImg" />
              <div>
                <ul class="list">
                  <li class="item">
                    <nz-icon nzType="like" nzTheme="outline" />
                    <div class="item-description">{{ photo.likes }}</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loader" *ngIf="isLoading">
      <nz-spin nzSimple nzSize="large"></nz-spin>
    </div>
  </nz-content>
  <nz-footer>
    <nz-pagination
      [nzPageIndex]="page"
      [nzTotal]="totalItems()"
      [nzPageSize]="per_page"
      (nzPageIndexChange)="changePage($event)"
      nzShowSizeChanger
      [nzPageSizeOptions]="[10, 25]"
      (nzPageSizeChange)="changePageSize($event)"
      [nzDisabled]="isLoading"
    ></nz-pagination
  ></nz-footer>
</nz-layout>
